* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: #DFDFDE;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border: 1px solid black;
    background-color: bisque;
    float: left;
    width: 60%;
    height: 350px;
}

aside {
    border: 1px solid black;
    background-color: #DAE5D0;
    float: right;
    width: 40%;
    height: 350px;
    display: flex;
    align-items: baseline;
    justify-content: center;

}

footer {
    clear: both;
    border: 1px solid blue;
    background-color: #DFDFDE;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.container {
    border: 1px solid red;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    padding: 100px 20px 5px;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.box_1,
.box_2,
.box_3 {
    border: 1px solid black;
    background-color: rgb(254, 191, 114);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_1,
.box_2 {
    flex-basis: 300px;
}

.box_3 {
    flex-grow: 1;
    flex-basis: 300px;
}

.section {
    border: 1px solid black;
    background-color: whitesmoke;
    height: 100px;
    flex-basis: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}